section.page-main
    .container
        .row.page-main__wrapper.page-main__main
            .col-12.col-xl-9.page-main__left.d-flex.flex-column
                h1.page-main__title.title ГУП РК Медтехника
                p Представители современных социальных резервов, инициированные исключительно синтетически, заблокированы
                .d-flex.justify-content-center.justify-content-xl-start
                    a.button.button--secondary.button--mob(href="#")  Подробнее
