section.section.buy.pb-0 
        .buy__container.d-flex.align-items-center
                .container
                    .buy__img-block
                        img(src="img/pexels.jpg", alt="Человек чинит прибор")
                    .row
                        .buy__content.col-12.d-flex
                                    h2 Вы можете купить у нас только <span>профессиональную и качественную</span> медицинскую технику