footer.footer
    .footer__top
        .container
            .row.footer__row.d-flex.flex-xl-row.flex-column.justify-content-between
                    .col-12.col-xl-4
                        .footer__info
                            img(src="img/logo-footer.svg", alt="ГУП РК Медтехника")
                            p Прежде всего, современная методология разработки говорит о возможностях кластеризации усилий.
                    .col-12.col-xl-2
                        .footer-group
                            h3.footer-group__title Навигация
                            ul.footer-menu.footer-menu-left
                                li
                                    a(href="#") Главная
                                li
                                    a(href="./news.html") Новости
                                li
                                    a(href="./services.html") Услуги
                                li
                                    a(href="./shop.html") Магазин
                                li
                                    a(href="./about.html") О нас
                                li
                                    a(href="./contacts.html") Контакты
                    .col-12.col-xl-6.d-flex.justify-content-start.justify-content-xl-end.pe-0
                        .footer-group
                            h3.footer-group__title Услуги
                            ul.footer-menu.footer-menu-right
                                li
                                    a(href="./repair.html") Обслуживание и ремонт профессиональной медтехники
                                li
                                    a(href="#") Утилизация медицинских отходов
                                li
                                    a(href="#") Поставка медицинского оборудования
                                li
                                    a(href="#") Обслуживание и ремонт бытовой медтехники
    .footer__bottom    
        .container
            .row.d-flex.flex-column.flex-xl-row.justify-content-xl-between
                .footer__contact.col-12.col-xl-3.d-flex.justify-content-start 
                    p Петрозаводск, ул. Пирогова, 6а
                .footer__contact.col-12.col-xl-3.d-flex.justify-content-start.justify-content-xl-center 
                    a(href="tel:88142764301")  8 (8142) 76-43-01
                .footer__contact.col-12.col-xl-3.d-flex.justify-content-start.justify-content-xl-center 
                    a(href="mailto:torg@medtech-karelia.ru") torg@medtech-karelia.ru
                .footer__contact.col-12.col-xl-3.d-flex.justify-content-start.justify-content-xl-end
                    .footer__social.d-flex
                                    a(href="#")
                                        +icon("VK")
                                    a(href="#")
                                        +icon("Inst")
                                    a(href="#")
                                        +icon("fb")
                                    a(href="#")
                                        +icon("youtube")
    .footer__copy
            .container
                .row.d-flex.flex-column.flex-xl-row.align-items-center.justify-content-start.justify-content-xl-between.p-0
                        .col-12.col-xl-6.d-flex.justify-content-xl-start.justify-content-center
                            p Все права защищены “ГУП РК Медтехника”
                        .col-12.col-xl-6.footer__creator.d-flex.justify-content-center.justify-content-xl-end
                            a(href='https://pasternak.dev' target='_blank') 
                            span.d-none.d-lg-flex  Сайт разработан в “ИП Пастернак” 
                            span.d-lg-none Разработка ИП Пастернак

