.popup#callBack
            .popup__wrapper
                .popup__header
                    .row
                        .col-12
                            h2.section-title Необходима консультация?
                .popup__body
                    form
                        .row.form__wrapper.d-flex.flex-row.flex-wrap
                            .form-group.col-12
                                    input.form-input(type='text', placeholder='Ваше имя')
                            .form-group.col-12
                                    input.form-input(type='tel', placeholder='Ваш телефон')
                            .form-group.col-12
                                    input.form-input(type='email', placeholder='Email')
                            .form-group.col-12
                                    input.form-input(type='tex', placeholder='Тема вашего вопроса')
                            .form-group.col-12
                                .form__checkbox.p-0
                                    .checkbox
                                        input#cons.custom-checkbox(type='checkbox' name='pers')
                                        label(for='cons')
                                            a(href='#') Даю
                                                span согласие на обработку персональных данных
                        .row
                            .col-md-12.d-flex.justify-content-center.justify-content-xl-start
                                button.button.button--secondary(type='submit')
                                    | Отправить