section.partners
    .container
            .row.partners__slider-similar.slider-similar
                .col-12.slider.partners__slider
                    ul.slider-wrapper.d-flex.flex-row.justify-content-between
                        li.d-flex.align-items-center
                            img(src="img/makirad.jpg", alt="Компаньоны")
                        li.d-flex.align-items-center
                            img(src="img/bwell.jpg", alt="Компаньоны")
                        li.d-flex.align-items-center
                            img(src="img/microlife.jpg", alt="Компаньоны")
                        li.d-flex.align-items-center
                            img(src="img/armed.jpg", alt="Компаньоны")
                        li.d-flex.align-items-center
                            img(src="img/creat.jpg", alt="Компаньоны")
                        li.d-flex.align-items-center
                            img(src="img/prib.jpg", alt="Компаньоны")
                        li.d-flex.align-items-center
                            img(src="img/makirad.jpg", alt="Компаньоны")
                        li.d-flex.align-items-center
                            img(src="img/bwell.jpg", alt="Компаньоны")
                .col-12.d-flex.partners__nav.slider-similar__nav.slider-similar__nav_mob.d-flex.justify-content-center.align-items-center
                        .partners__dots-inner.slider-dots
                        .partners__slider-nav.slider-nav.slider-nav__inner.slider-similar__btn-dom.d-flex-gap