section.request
  .container
      .row.d-flex.align-items-center.flex-column.flex-lg-row
            .col-12.col-lg-6.d-flex.flex-column.flex-lg-row.align-items-center
              +icon("phon-reguest")
              .request__block.d-flex.align-items-center.align-items-lg-start.align-items-xl-start.flex-column
                  h2.section-title Остались вопросы?
                  button(data-fancybox='' data-animation-duration='50' data-src='#callBack')  Закажите обратный звонок!
            .col-12.col-lg-6.d-flex.justify-content-center.justify-content-lg-end
                a(href="tel:88142764301") 8 (8142) 76-43-01
