section.services
    .slider.services-slider
        .slider-wrapper.services-slider__wrapper.d-flex.justify-content-between 
            .services-slide
                .container
                    .services-slide__img
                        img(src="img/shipment.jpg", alt="", aria-hidden="true")
                    .row
                        .col-12.col-xl-9.d-flex.align-items-center
                            .services-slide__box
                                .services-slide__content
                                    h2.services-slide__title Поставка оборудования для стоматологий
                                    a.services-slide__link(href="#") Все услуги
            .services-slide
                .container
                    .services-slide__img
                        img(src="img/shipment.jpg", alt="", aria-hidden="true")
                    .row
                        .col-12.col-xl-9.d-flex.align-items-center
                            .services-slide__box
                                .services-slide__content
                                    h2.services-slide__title Поставка оборудования для стоматологий
                                    a.services-slide__link(href="#") Все услуги
            .services-slide
                .container
                    .services-slide__img
                        img(src="img/shipment.jpg", alt="", aria-hidden="true")
                    .row
                        .col-12.col-xl-9.d-flex.align-items-center
                            .services-slide__box
                                .services-slide__content
                                    h2.services-slide__title Поставка оборудования для стоматологий
                                    a.services-slide__link(href="#") Все услуги
        .slider-dots
            .container
                .slider-dots__inner
        .slider-nav
            .container.d-flex.justify-content-center
                .slider-nav__inner