.why-we
    .container
        .row.why-we__list.d-flex.justify-content-start.justify-content-lg-between.flex-column.flex-lg-row
            .why-we__item.col-12.col-lg-4 
                h2.section-title Почему мы?
            .why-we__item.col-12.col-lg-4 
                h3 Низкие цены
                p Мы работаем с производителями без посредников, только это даёт нам возможность снижать цену до 30%
            .why-we__item.col-12.col-lg-4 
                h3 Гарантия качества
                p  На каждый товар распространяется гарантия производителя + наша сервисная гарантия