// * ====================================================================================================
// * GLOBAL STYLES
// * ====================================================================================================

html {
	height: 100%;
}

.container {
	@include media-breakpoint-down(xl) {
		padding: 0 15px;
	}
  }

  .bg-wrapper-main {
	background: url("../img/main-page.jpg") no-repeat center/ cover;
  }

  .bg-wrapper-page {
	position: relative;
	background: url("../img/page.jpg") no-repeat center/ cover;
	&::before {
		content: "";
		display: block;
		width: 100%;
		height: 100%;
		position: absolute;
		top: 0;
		bottom: 0;
		background: rgba(51, 50, 50, 0.55);
	}
	@include media-breakpoint-down(sm) {
		&::before {
			display: none;
		}
		background: url("../img/page-min.jpg") no-repeat center/ cover;
	}
  }

// .icon ====================================================================================================
.icon {
	display: inline-block;
	width: 1em;
	height: 1em;
	fill: currentColor;
}

// .page ====================================================================================================

*:focus {
	outline: none;
}

.page {
	height: 100%;
	min-height: 100%;
	@include body;

	&__wrapper {
		display: flex;
		flex-direction: column;
		flex-grow: 1;
		min-height: 100%;
		overflow: hidden;
	}
}

// .section ====================================================================================================
.section {
	padding: 120px 0;

	@include media-breakpoint-down(xl) {
		padding: 80px 0;
	}	
	&__pb120 {
		padding: 0 0 120px;
		@include media-breakpoint-down(xl) {
			padding: 0 0 80px;
		}
	}
	&__lg-pb-none {
		@include media-breakpoint-down(xl) {
			padding-bottom: 0;
		}
	}	
	&__bg-white {
		background-color: $color-light;
	}
	&__bg-gray {
		background-color: $color-gray-100;
	}

}

// .section-title ====================================================================================================
.section-title {
	@include fontCompressor(36px, 600, 1, 0);
	color: $color-dark-300;
	
	@include media-breakpoint-down(xl) {
		@include fontCompressor(24px, 600, 1, 0);
	}

	&_line-height {
		line-height: 44px;
		@include media-breakpoint-down(lg) {
			line-height: 28px;
		}
	}
}


//pages======================================================================================================
	.pages {
		position: relative;
		color: $color-light;
		
		&__wrapper {
			padding: 44px 0 52px;
			@include media-breakpoint-down(lg) {
				padding: 38px 0 49px;
			}
			
			&_padding-x {
				@include media-breakpoint-down(lg) {
					padding: 44px 0 2px;
				}
			}
		}
		&__title {
			@include fontCompressor(48px, 600, 1, 0px);
			@include media-breakpoint-down(lg) {
				margin-bottom: 10px;
				@include fontCompressor(32px, 600, 1, 0px);
			}	
		}

		&__title-small {
			@include media-breakpoint-down(lg) {
				@include fontCompressor(18px, 600, 1, 0px);
				text-align: center;
			}
		}
		&__item {
			@include media-breakpoint-down(lg) {
				&:nth-child(2){
					display: none;
				}
			}
		}
		ul {
			@include list-reset;
			margin-bottom: 22px;
			gap: 5px;
			@include media-breakpoint-down(lg) {
				margin-bottom: 0;
			}
		}
		li {
			@include fontCompressor(18px, 500, 36px, 0px);
			text-align: center;
		}
	}

// .page-main ====================================================================================================
.page-main {
	color: $color-light;
	&__position {
		position: relative;
	}
	&__wrapper {
		padding: 80px 0px 282px;
		@include media-breakpoint-down(xl) {
			padding: 29px 0px 156px;
		}
	}
	
	p {
		margin-bottom: 75px;
		max-width: 611px;
		@include fontCompressor(18px, 500, 165%, 0px);
		@include media-breakpoint-down(xl) {
			margin-bottom: 87px;
			max-width: none;
			@include fontCompressor(14px, 500, 23px, 0);
			text-align: center;
		}
	}

	&__title {
		margin-bottom: 28px;
		text-transform: uppercase;
		@include fontCompressor(64px, 600, 1, 0.2px);
		@include media-breakpoint-down(xl) {
			margin-bottom: 43px;
			@include fontCompressor(32px, 600, 1, 0);
			text-align: center;
		}
	}
}

.pb-120 {
	padding-bottom: 120px;

	@include media-breakpoint-down(lg) {
		padding-bottom: 80px;
	}
}

.d-flex-gap {
	display: flex;
	gap: 10px;
}